QScrollArea {
    border: none;
    background-color: transparent;

    font: 42px 'Segoe UI SemiBold', 'Microsoft YaHei SemiBold';
    background-color: transparent;
    color: black;
    padding-left: 12px;
}

BodyLabel {
     color: black;
}